* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    border: 2px solid rgb(0, 255, 55);
    margin-top: 0;
}

.top_menu_nav_row {
    background-color: gray;
    padding: 0 0 0 0;
    top: 0;
    margin: 0;
}

.ul_top {
    text-align: center;
    background-color:black;
    height: 120px;
  
}

.li_top {
    border: 1px solid rgb(74, 218, 138);
    display: inline-block;
    padding-top: 30px;
    padding-left: 100px;
    width: 180px;
    text-align: center;
}

.a_top {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


/* row 2 */

.main_form_div {
    border: 2px solid red;
    width: 1500px;
    height: 1000px;
    margin: auto;
    padding-top: 40px;
}

.top_3_image_row {
    width: 1500px;
    height: 300px;
    text-align: center;
}

.column1 {
    float: left;
    width: 490px;
    height: 300px;
}

.top_3_image_row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    height: 290px;
    margin: auto;
}